.hero{
    height: 100%;
    width: 100%;
    background-color: beige;
    background-size: cover;
    padding-bottom: 30px;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 30px;
    padding-right: 8%;
    padding-left: 8%;
}
.logo{
    color: rgb(61, 61, 61);
    font-size: 35px;
    letter-spacing: 1px;
    cursor: pointer;
}
span{
    color:tomato
}

nav ul li{
    list-style-type: none;
    display: inline-block;
    padding: 10px 30px;
}

nav ul li a{
    color: black;
}

nav ul li a:hover{
    color: tomato;
    transition: .4s;
}
.image{
    image-rendering: optimizeQuality;
    padding-top: 40px;
    padding-right: 30px;
    margin-bottom: 20px;
}
.about { 
    padding: 20px;
    -webkit-box-shadow: 0px 0px 22px 2px rgba(0,0,0,0.5); 
box-shadow: 0px 0px 22px 2px rgba(0,0,0,0.5);
}

